<a href="https://colab.research.google.com/github/MostaSchoolOfAI/All-About-AI-Python-Edition/blob/master/Course%201-%20Python/AAA_edp_w1_c3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://docs.google.com/uc?export=download&id=1EiHSYfHYk8nKMEWd6A74CMFVak5Lf4ab">
# Python: More about Python

# 1- if / else , For, While



* **if** / **else**  statements are used to control which block of code to execute:

In [0]:
a=3
if a>8 :
  print("a is greater than 8")
else:
  print("a is not greater than 8")

a is not greater than 8

In [1]:
Pythona=3
if a>8 :
  print("a is greater than 8")
elif a==3:
  print("actually, a=3")
else:
  print("a is not greater than 8")

actually, a=3


*  This statement is used to **control**  **how many times** a block of code has to be executed:

In [2]:
i=j=1
while(i>0):
  print("**** execution number "+str(j)+"***" )
  i=float(input("Give a float value for i: "))
  print("Last given i =",i)
  j=j+1

**** execution number 1***
Give a float value for i: 3.5
Last given i = 3.5
**** execution number 2***
Give a float value for i: 2.6
Last given i = 2.6
**** execution number 3***
Give a float value for i: -3
Last given i = -3.0

* The **for** statement is used to  execute a block of code  a certain number of times:

In [3]:
for i in range(4):

  print(i)

0
1
2
3

# 2- Lists, Tuples, List comprehensions

* **lists**: a value that contains **multiple values**

In [4]:
l1=[1,15,"element",0.3]
l2= list(range(5))
print(l1)
print(l2)

[1, 15, 'element', 0.3]
[0, 1, 2, 3, 4]

* A **tuple** is a list  of **immutable** values

In [5]:
t1=("here",5)
t2 =tuple(range(3))
print(t1)
print(t2)

('here', 5)
(0, 1, 2)

In [6]:
l1=[2,5,9]
l1[0]="first"
print("l1=",l1)
print("t1[0]=",t1[0])
# this statement will generate an error, since tupple assignment is forbidden
t1[0]=5

l1= ['first', 5, 9]
t1[0]= here

TypeError: ignored


*   Some list operations:

In [9]:
l1=list(range(-5,2))
print("l1=",l1)

l2=list(range(7,20,3))
print("l2= ",l2)

l3=l1[2:4]
print("l3= ",l3)

del(l3[0]);print ("l3=",l3)

l4=l3+[10,11]; print("l4=",l4)

l5=7*[2];print("l5=",l5); print("l5 has",str(len(l5))+" elements")

l1= [-5, -4, -3, -2, -1, 0, 1]
l2=  [7, 10, 13, 16, 19]
l3=  [-3, -2]
l3= [-2]
l4= [-2, 10, 11]
l5= [2, 2, 2, 2, 2, 2, 2]
l5 has 7 elements

In [10]:
l1=list(range(2,10,5))
l2=list(range(5,25,9))
print(l1);print(l2)
print("The greatest value in l1=",max(l1)) 
print("The smallest value in l2",min(l2))
x,y=l1
print(x,y)

[2, 7]
[5, 14, 23]
The greatest value in l1= 7
The smallest value in l2 5
2 7

In [11]:
l1= list("ABC")
for i in l1:
  print(i)
  
for i in range(len(l1)):
  print(str(i)+"- "+l1[i])
  
if 'G' not in l1:
  print ("G is not in l1")

A
B
C
0- A
1- B
2- C
G is not in l1

In [12]:
l1=[x for x in range(4) if x!= 2]
print (l1)
l2=[x**2 for x in [1,2,3]]
print(l2)
l3=[[x,y,z] for x in range(3) for y in ("A") for z in ["el1","el2"]]
print(l3)

[0, 1, 3]
[1, 4, 9]
[[0, 'A', 'el1'], [0, 'A', 'el2'], [1, 'A', 'el1'], [1, 'A', 'el2'], [2, 'A', 'el1'], [2, 'A', 'el2']]

* A list has some **methods**.  We will talk about methods later.

In [13]:
l1=list("LETTERS")
print(l1.index("R"))

5

In [14]:
l1.append("G")
print(l1)

['L', 'E', 'T', 'T', 'E', 'R', 'S', 'G']

In [15]:
l1.insert(5,"H")
print(l1)

['L', 'E', 'T', 'T', 'E', 'H', 'R', 'S', 'G']

In [0]:
l1.remove("T")
print(l1)

['L', 'E', 'T', 'E', 'H', 'R', 'S', 'G']

# 3- Dictionaries

* A **dictionnary** is a list of values with their associated **keys**:

In [0]:
d1={"Name":"bob","Age":36}
print(d1)
d2={1:"First",2:"Second"}
print(d2)

{'Name': 'bob', 'Age': 36}
{1: 'First', 2: 'Second'}

In [0]:
for i in d2.values():
  print (i)

First
Second

In [0]:
for i in d2.keys():
  print(i)

1
2
dict_keys([1, 2])

In [0]:
for i in d2.items():
  print(i)
  k,l=i
  print(k,l)

(1, 'First')
1 First
(2, 'Second')
2 Second

In [0]:
print(d1.get("Name"))
print(d1.get("name","Smith"))

bob
Smith

In [0]:
d2.setdefault(3,"third")
print(d2)

{1: 'First', 2: 'Second', 3: 'third'}

In [0]:
d2.setdefault(3,"other element")
print(d2)

{1: 'First', 2: 'Second', 3: 'third'}

# 4- Sets

*A **set** is a list of **distinct** values

In [0]:
l1=list(range(2))+list(range(2))
s1=set(l1)
print("l1=",l1)
print("s1=",s1)
s1.add(3);print(s1)
s2=set(list(range(1,3)))
print(s1.isdisjoint(s2))

l1= [0, 1, 0, 1]
s1= {0, 1}
{0, 1, 3}
False

In [0]:
print(s1 & s2)

{1}

In [0]:
print(s1-s2)
print(s1<=s2)

{0, 3}
False

# 5- Object Oriented Programming

* In Python, we can define “**classes**”: a defined prototype that encapsulates **data** and the **functions** to operate on them.

* An **instance** of a class is called an “**object**”. We already used objects when we used **lists**, **sets** and **dictionaries**.

In [0]:
#definition of class MyTable

class MyTable:
  l1=0
  def __init__(self,name,length=0):
    self.length=length
    self.name=name
    self.myList=[None for _ in  range(length)]
    
   # to be sure that the lenght represents the actual list length
  def validL(self):
    self.length=len(self.myList)
    
 # print the type of the list
  def myType(self):
    print("I am a TABLE 1 ")    
  
  # insert doesn't accept negative values or values greater than length
  def insert (self,ind,val):
    self.validL()
    if ind >= self.length :
      print("The given index: "+str(ind)+ 
            " exceeds the table length: "+str(self.length))
    elif ind < 0:
      print("The given index: "+str(ind)+" is negative")
    else:
      self.myList.insert(ind,val)
      print("The value has been inserted at the index"+str(ind) )
      
     
  # print myList and the length attribute    
  def printme(self):
    self.validL()
    print(self.name+" ("+str(self.length)+"): ",end=" ")
    for i in self.myList:
      print (i,end=" ")
    print(" ")
    
   # append a new element at the end of the 
  def add (self,val=None):
    self.validL()
    self.myList=self.myList +[val]
    self.length=self.length+1
    

    
    # MyTable2 inherit MyTable1 functions
  
class MyTable2(MyTable):
  def myType(self):
    print("I am a TABLE 2 ")
    
class MyTable3(MyTable):
  def myType(self):
    print("I am a TABLE 3 ")
  
print("######")
a= MyTable("table1",3)
a.insert(22,"B")
a.insert(2,"A")
a.printme()
a.add(2)
a.printme()
a.add()
a.printme()
a.length=8
print("a.length=",a.length)
a.printme()
print("######")
b=MyTable("table2",4)
b.printme()
print("######")
c=MyTable2("table2",3)
c.printme()
d=MyTable3("table3")
l=[a,b,c,d]
for i in l:
  i.myType()

######
The given index: 22 exceeds the table length: 3
The value has been inserted at the index2
table1 (4):  None None A None
table1 (5):  None None A None 2
table1 (6):  None None A None 2 None
a.length= 8
table1 (6):  None None A None 2 None
######
table2 (4):  None None None None
######
table2 (3):  None None None
I am a TABLE 1
I am a TABLE 1
I am a TABLE 2
I am a TABLE 3

# 6- Regular expressions

* A **regular expression** is a** description** of **pattern** of text

In [0]:
import re
#creating a regex pattern object
myReg=re.compile(r"([0-2][1-9]|30|31)-(0[1-9]|1[0-2])-(19[7-9][0-9]|2[0-9]{3})")
myReg2=re.compile(r"[a]+")

print(myReg.findall("It starts from 11-02-2018 and ends at 25-09-2029."))
res=myReg.search("It starts from 11-02-2018* and ends at 25-09-2029.")
print("*"+res.group()+"*")
print(myReg.match("It starts from 11-02-2018 and ends at 25-09-2029."))
print(myReg2.findall("a string aa and aaaa"))
print(myReg2.findall("my string"))

[('11', '02', '2018'), ('25', '09', '2029')]
*11-02-2018*
None
['a', 'aa', 'a', 'aaaa']
[]

# 7- System programming

* We will **focus** on **system programming** in **Colab**.
* Some Python functions can be **simply** done on  **Colab**. 

* For example the **bash commands**: they can be used as they are by prefixing them by **“!”** or **"%"**:  
!ls, !mkdir, !git, !pip, %cd … etc

* First way of executing using a **user** defined **script**

In [0]:

import subprocess
p = subprocess.run(["ls", "-l"])
!ls
from google.colab import files
myFile= files.upload()

drive  sample_data

In [0]:
import Hello as h
h.sayHello()

Hello.
 Welcome to School Of AI!

* second way of executing using a **user** defined **script**:
* We have to mount Google Drive

In [0]:


# mounting google drive

from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:

import sys

sys.path.append("drive/My Drive/myScripts/")

In [0]:
import Quit as me

me.quit()

!python3 "drive/My Drive/myScripts/Quit.py"

Have a nice day!
This is the execution of Quit.py as a main script

In [0]:
#printing the script content using cat command
print("---------------")
!cat "drive/My Drive/myScripts/Quit.py"

#printing the script content using path.join an open functions
import os

print("\n---------------")
myFile=os.path.join("drive","My Drive","myScripts","Quit.py")
f=open(myFile,'r')
lines=f.readlines()
f.close()
for l in lines:
  print(l,end="")

---------------
def quit():
  print ("Have a nice day!")

if __name__ == "__main__":
 print("This is the execution of Quit.py as a main script\n")
---------------
def quit():
  print ("Have a nice day!")

if __name__ == "__main__":
 print("This is the execution of Quit.py as a main script\n")